@model JuvenileSportsManagementApp.Models.AnalyseVM

@{
    ViewBag.Title = "Choose event to Analyse";
}

@{
    List<string> eventNames = (List<string>)ViewData["eventNames"];
    List<SelectListItem> eventList = new List<SelectListItem>();
    foreach (string e in eventNames)
    {
        eventList.Add(new SelectListItem { Text = e, Value = e });
    }

    List<SelectListItem> timeList = new List<SelectListItem>();
    timeList.Add(new SelectListItem { Text = "Results in the past week", Value = "week" });
    timeList.Add(new SelectListItem { Text = "Results in the past month", Value = "month" });
    timeList.Add(new SelectListItem { Text = "Results in the past year", Value = "year" });
    timeList.Add(new SelectListItem { Text = "All Results", Value = "all" });


    int athleteID = (int)ViewData["athleteID"];
}

<h2>
    Choose Results to analyse
</h2>
@using (Html.BeginForm())
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Timeframe
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.EventName, eventList)
                    
                </td>
                <td>
                    @Html.DropDownListFor(model => model.TimeFrame, timeList)
                    @Html.HiddenFor(model => model.AthleteName)
                    @Html.HiddenFor(model => model.AverageResult)
                    @Html.HiddenFor(model => model.BestResult)
                    @Html.HiddenFor(model => model.ResultDates)
                    @Html.HiddenFor(model => model.Results)
                    @Html.HiddenFor(model => model.TargetResult)
                    @Html.HiddenFor(model => model.WorstResult)
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <input type="submit" value="Analyse" class="btn btn-success" />
    </p>
}
