@model JuvenileSportsManagementApp.Models.AthleteVM

@{
    ViewBag.Title = "Athlete Details";
}
<p class="error">@ViewBag.ErrorMessage</p>

<h2>Athlete Details</h2>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AthleteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.AthleteID)
            </td>
            <td>
                @Html.DisplayFor(model => model.AthleteName)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(model => model.GroupID)
            </td>
            <td>
                @Html.DisplayFor(model => model.GroupName)
            </td>
        </tr>
    </tbody>
</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @* Add in buttons for viewing results, etc *@
        @Html.ActionLink("Edit Athlete", "Edit", "Athletes", new { athleteID = Model.AthleteID }, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
        @Html.ActionLink("Delete Athlete", "Delete", "Athletes", new { athleteID = Model.AthleteID }, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger" })
        @Html.ActionLink("Return to Athletes Index", "AthletesIndex", "Athletes", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
    </p>
}
