@model List <JuvenileSportsManagementApp.Models.GroupVM>

@{
    ViewBag.Title = "Athletics Management - Groups";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Results</h2>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model[0].GroupID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].GroupName)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => m.GroupID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => m.GroupName)
                        @Html.HiddenFor(model => m.IsDeleted)
                    </td>
                    <td>
                        @Html.ActionLink("View Group Athletes", "Athletes", "Athletes", new { groupID = m.GroupID }, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Return to Main Menu", "Portal", "Application", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
    </p>
</body>
</html>
