@model JuvenileSportsManagementApp.Models.ResultVM

@{
    ViewBag.Title = "Create New Result";
}

@{
    List<string> athleteNames = (List<string>)ViewData["athleteNames"];
    List<SelectListItem> athleteList = new List<SelectListItem>();
    foreach (string athlete in athleteNames)
    {
        athleteList.Add(new SelectListItem { Text = athlete, Value = athlete });
    }

    List<string> eventNames = (List<string>)ViewData["eventNames"];
    List<SelectListItem> eventList = new List<SelectListItem>();
    foreach (string e in eventNames)
    {
        eventList.Add(new SelectListItem { Text = e, Value = e });
    }
}

<p class="error">@ViewBag.ErrorMessage</p>

<h2>Create New Result</h2>
@using (Html.BeginForm())
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AthleteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfResult) (dd/mm/yyyy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.AthleteName, athleteList)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.EventName, eventList)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DateOfResult, "{0:dd/MM/yyyy}")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Result)
                    @Html.HiddenFor(model => model.AthleteID)
                    @Html.HiddenFor(model => model.EventID)
                    @Html.HiddenFor(model => model.IsDeleted)
                    @Html.HiddenFor(model => model.ResultID)
                </td>
            </tr>
        </tbody>
    </table>
    @Html.AntiForgeryToken()
    <p>
        @* Add in buttons for viewing results, etc *@
        <input type="submit" value="Save Changes" class="btn btn-success" />
        @Html.ActionLink("Return to Results Index", "ResultsIndex", "Results", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
    </p>
}
